/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5dc;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Cabeçalho */
header {
   
    background-color: #1b5e20;
    
}
/*botao escondido no pc*/
.menu-toggle {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    padding: 10px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #002200;
    padding: 15px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover{
    color: #ffd700;
}

.banner{
    width: 200px;
    height: 100px;
    object-fit: cover;
    display:block;
    
}

/* Rodapé */
footer {
    margin-top: auto;
    background-color: #1b5e20;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: #ffd700;
    text-decoration: underline;
    
}